services:
  testchat:
    container_name: osmi-ai-testchat
    image: osmi-ai-testchat
    build: .
    ports:
      - "3001:3001"
    restart: always
    env_file:
      - .env
    environment:
      - NODE_ENV=production
      - PORT=3001
      - HOST=0.0.0.0
